
/* font-family: 'Outfit', sans-serif; */

:root{
    --primary-color: hsl(218, 44%, 22%);
    --secondary-color: hsl(220, 15%, 55%);
    --tertiary-color: hsl(212, 45%, 89%);
    --fourthary-color: hsl(0, 0%, 100%);

}

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: var(--fourthary-color);
    border-radius: 15px;
    text-align: center;
    margin: 15px;
    width: 315px;
    box-shadow: 10px 10px 35px -10px var(--secondary-color);
}

main img{
    margin: 15px;
    width: 90%;
    border-radius: 10px;
}

main h1{
    margin: 15px;
    font-size: 22px;
    color: var(--primary-color);
    font-weight: 700;
}

main p{
    margin: 25px;
    padding-bottom: 20px;
    font-size: 15px;
    color: var(--secondary-color);
}